* {
    margin: auto;
    width: 100%;
    height: 100%;
}
.menu {
    width: 14%;
    height: 100%;
    background-color: midnightblue;
    text-align: left;
    float: left;
}
.menu-child {
    color: #fff;
    padding: 25px;
    font-size: 18px;
}
.menu-child-child {
    font-size: 12px;
}

.header {
    width: 86%;
    height: 50px;
    background-color: lightgrey;
    color: black;
    float: left;
}
.header-right {
    text-align: right;
    line-height: 50px;
}
.button-view {
    width: 100px;
    height: 30px;
    background-color: midnightblue;
    color: #fff;
    margin-left: 15px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
